body {
    padding: 70px 0;
}


.caption.col {
    flex-direction: column;
}

.caption.col span {
    display: flex;
    gap: 6px;
}


.chartlist-row:not([nowplaying="true"]) {
    --bg: transparent !important;
    --bg-hov: hsla(var(--b4), 80%) !important;
    --shadow: none !important;
}
.chartlist-row:nth-child(odd):not([nowplaying="true"]) {
    --bg: hsla(var(--b4), 40%) !important;
}


.badges {
    justify-content: center;
    gap: var(--card-gap);
}
.badge {
    color: hsl(var(--l3-c));
    display: flex;
    align-items: center;
    gap: 6px;
    font-weight: 500;
}

.badge--pro {
    --hue: 174;
    --sat: 1;
    --lit: 1;
}
.badge--staff {
    --hue: -2;
    --sat: 1;
    --lit: 1;
}
.badge--kate {
    --hue: 20;
    --sat: 1.2;
    --lit: 1;
}


/* tooltips */
.tippy-box {
    background: hsl(var(--b5));
    border: 1px solid hsl(var(--b4));
    border-radius: var(--item-med-radius);
    box-shadow: var(--menu-shadow);
    font-size: var(--font-size-sm);
    line-height: var(--line-height-sm);
    color: hsl(var(--c2));
}
.tippy-content {
    padding: 5px 7px;
}


/* artist grid */
.grid {
    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: auto auto auto;
    grid-template-areas:
    ". . ."
    ". . ."
    ". . .";
    gap: 4px;
}

.grid-item {
    width: auto;
    height: auto;
    aspect-ratio: 1 / 1;
    border-radius: var(--item-med-radius);
    overflow: hidden;
    box-shadow: var(--card-shadow);
    border: 1px solid hsl(var(--b4));
    display: flex;
}
.grid-item .info {
    display: flex;
    flex-direction: column;
    justify-content: end;
    padding: var(--card-gap);
    gap: 6px;
    flex: 1;
    background: linear-gradient(180deg, rgba(0,0,0,0) 0%, rgba(0,0,0,1) 150%);
}

.grid-item .title {
    color: hsl(var(--c1));
    height: 100%;
    display: flex;
    align-items: end;
}
.grid-item :is(.artist, .plays) {
    color: hsl(var(--c2));
    display: flex;
}

.grid-item :is(.title, .artist, .plays):not(:hover) {
    text-decoration: none;
}